{% extends 'layout.html.twig' %}
{% block title %}
MVC - Item
{% endblock %}
{% block content %}

<html>
<body>
   <main>
    <h1>Item {{ item.title }}</h1>
<ul>
    <li>Id : {{ item.id }}</li>
</ul>
<a href='/'>Back to list</a>
</main>
</body>
</html>

{% endblock %}